.formRegister,.login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 100%;
}

.login input{
  width: 70%;
  height: 50px;
  background-color:rgba(236, 225, 225, 0.8);
  box-shadow: 0px 0px 5px  rgba(124, 119, 119,0.8);
  border-radius: 20px;
  border: 1px solid black;
  text-align: center;
}
#buttonlogin{
  width: 35%;
}
.loginZone{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 30%;
    height: 50%;
    border-radius: 25px;
    box-shadow: 0px 0px 35px  #0a61e4;
    border: 1px solid rgb(103, 96, 96);
    background: white;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: sans-serif;
}

.HomePage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  min-height: 100%;
  width: 100%;
}

.gallery{
  width: 75%;
  margin: 5%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 50px;
}
 .zoneLivre{
  text-align: center;
  border-radius: 10px 10px 0 0 ;
 }


.zoneLivre img{
  height: 350px;
  width: 250px;
    /* width: 100%; */
    /* height: 100%; */
    margin-bottom: 0;
    border-radius: 10px 10px 0 0 ;
    box-shadow: 0px 0px 12.5px  rgba(9, 9, 9, 0.575);
}
.title{
  font-size: 15px;
}
.navlist{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
    gap: 20px;
  }
 a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.navSearch{
  height: 100%;
  width: 100%;
  /* border-radius: 12px 0 0 12px; */
  background: #c0cbda;
  text-align: start;
  opacity: 0.9;
  padding-left: 20px;
  font-family: sans-serif;
  font-weight: 700;
  color: black;
}
input:focus, textarea:focus {
  outline: none;
}
.thirdNav{
  display: flex;
  flex-direction: row;
  height: 40px;
  text-align: center;
  width: 40%;
}
.searchButton{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  opacity: 0.9;
  border-radius:  0 12px 12px 0;
  background: #c0cbda;
  cursor: pointer;
}
.nav{
  background: rgb(80, 106, 225);
  width: 100%;
  padding: 2%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
body,html,#app{
  height: 100%;
  background:#1D3557;
  color: white;
}

.livreP{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
}
