
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Playfair+Display:ital,wght@0,400;1,400;1,900&display=swap');

  * {
    font-family: 'lato', sans-serif;
  }
   
.formRegister,.login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 90%;
}

.login input,.formRegister input{
  width: 70%;
  height: 50px;
  background-color:rgba(236, 225, 225, 0.8);
  box-shadow: 0px 0px 5px  rgba(124, 119, 119,0.8);
  border-radius: 20px;
  border: 1px solid black;
  text-align: center;
}
#buttonlogin{
  width: 35%;
}
.loginZone,.RegisterZone{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 30%;
    height: 50%;
    border-radius: 25px;
    box-shadow: 0px 0px 35px  #0a61e4;
    border: 1px solid rgb(103, 96, 96);
    background: white;
}

.RegisterZone{
  height: 70%;
}
.formRegister{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: sans-serif;
}
.navlist a:hover{
    transform: scale(1.1);
}
.HomePage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  min-height: 100%;
  width: 100%;
}

.gallery{
  width: 75%;
  margin: 2%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 50px;
}


.suppButton,.noteButton{
  
  position: absolute;
  cursor : pointer;
  z-index: 1001;
  
}
.suppButton{
  right: 2vh;
  height: 1vh;
  width: 1vh;
}
.suppButton p{
  font-size: 20px;
}
.noteButton{
  left:0;
  height: 1vh;
  width:1vh;
}
.valider{
  font-size: 40px;
}
.suppButton:hover,.noteButton:hover{
    transform: scale(1.1)
}

.addButton{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px solid black;

}
.libTitle{
  margin-top: 2%;
}
 .zoneLivre{
  border-radius: 10px 10px 0 0;
  background: white;
  color: black;
  border-radius:  10px ;
  border: solid 1px white;
  text-align: center;
  font-size: 3vh;
 }
 .titleZone{
    height: 7.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .titleZonelib{
  margin: 2.5%;
 }
.zoneLivre img{
  /* height: 350px; */
  /* width: 250px; */
    width: 100%;
    height: 90%;
    margin-bottom: 0;
    border-radius: 10px 10px 0 0 ;
    border: 1px solid black;
    box-shadow: 0px 0px 12.5px  rgba(9, 9, 9, 0.575);
}
.title{
  font-size: 15px;
}
.navlist{
   display: flex;
   flex-direction: row;
   justify-content: end;
   font-family: 'ADLaM Display';
    gap: 20px;
  }
 a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.navSearch{
  height: 100%;
  width: 100%;
  /* border-radius: 12px 0 0 12px; */
  background: #c0cbda;
  text-align: start;
  opacity: 0.9;
  padding-left: 20px;
  font-weight: 700;
  color: black;
}
input:focus, textarea:focus {
  outline: none;
}
.thirdNav{
  display: flex;
  flex-direction: row;
  height: 40px;
  text-align: center;
  width: 40%;
}
.searchButton{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  opacity: 0.9;
  border-radius:  0 12px 12px 0;
  background: #c0cbda;
  cursor: pointer;
}
.nav{
  background: rgb(80, 106, 225);
  width: 100%;
  padding: 2%;
  height: 10%;
  display: flex;
  font-family: 'Lato', sans-serif;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav a>img{
  width: 30%;
}

.zoneNav{
  width: 33%;
}

body,html,#app{
  height: 100%;
  font-family: 'Lato', sans-serif;
  background:#1D3557;
  color: white;
}

.LivreP{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80%;
  padding: 2.0%;
  width: 100%;
  gap: 25px;

}
.LivrePimg{
    color: black;
    /* background: #c0cbda; */
    text-align: center;
    height: 90%;
    width: 25%;
    border-radius: 25px;
    border: 1px solid rgb(236, 236, 236);

}
.LivrePimg img{
  height: 80%;
  width: 100%;
  border-radius: 25px 25px 0 0 ;
}
.LivrePdes{
    display: flex;
    padding: 2.5%;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap:1%;
    color: black;
    font-size: 3vh;
    width: 60%;
    height: 90%;
    background: #ffffff;
    border: 1px solid black;
    border-radius: 20px;
}
.livrePclick{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: -3px;
  width: 100%;
  height: 20%;
  background: rgb(225, 218, 218);
  border-radius: 0 0 25px 25px;
  gap: 20px;
}
.burgerMenu{
  display: none;
}
@media (max-width:1050px) {
  .nav{
    height: 7.5%;
  }
  .nav>div>a>img{
      width: 70%;
  }

  .burgerMenu div{
      width: 30px;
      height: 5px;
      background: white;
    }
  .pasMobile{
    display: none;
  }
  .burgerMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .LivreP{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    font-size: 2vh;
    margin-top: 7.5vh;
  }
  .LivrePdes h2{
     font-size: 3vh;
  }
  .LivrePimg{
    padding: 0;
    height: 60%;
    width: 90%;
  }
  .LivrePdes{
    gap: 0;
    font-size: 2vh;
    height: 100%;
    width: 100%;
  }
  .loginZone,.RegisterZone{
    width: 80%;
  }
  .searchButton{
    width: 50px;
  }
}
.loginZone input:focus,.formRegister input:focus{
  border: solid 3px rgb(90, 90, 219);
}
.DwdButton{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 60%;
  border-radius: 20px;
  border: 1px solid black;
  background-color:rgba(236, 225, 225, 0.8);
  box-shadow: 0px 0px 5px  rgba(124, 119, 119,0.8);
  color:  black;
}
#DwdRegister{
  width: 45%;
}
.DwdButton:hover,#DwdRegister:hover{
  background-color: #c0cbda;
}
.DwdButton:active,#DwdRegister:active{
  transform: scale(0.9);
  animation-duration: 750ms;
}
.loginZone .DwdButton{
  width: 35%;
}


